body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px #000;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

form {
  margin-top: 20px;
  text-align: center;
}

input[type=text] {
  font-size: 20px;
  padding: 5px;
  width: 50px;
}

input[type=submit] {
  font-size: 20px;
  padding: 5px;
}

